:host {
  padding-top: 40px;
  display: block;
}

input {
  display: block;
  width: 400px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: transparent;
  padding-left: 12px;
}

label {
  position: relative;
  background: white;
}

span {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 9px;
  color: #ccc;
  transition: all 0.2s;
}

input:valid {
  border-color: black;
}

input:focus + span, input:valid + span {
  transform: translate(-10px, -29px) scale(0.95);
  color: black;
}
