<div *ngIf="!account" class="main">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label class="input-container">
      <input type="text" required="required" formControlName="username"/>
      <span>Username</span>
    </label>
    <label class="input-container">
      <input type="password" required="required" formControlName="password"/>
      <span>Password</span>
    </label>
    <label class="input-container">
      <input type="text" required="required" formControlName="email">
      <span>E-mail</span>
    </label>
    <button>Register</button>
  </form>
</div>
<div class="below">Logged in as: {{account && account.username}}</div>
<div *ngIf="error" class="error">{{error.message}}</div>
